<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.curriculumtracker">


    <application

        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="Curriculum Tracker"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.Light.NoActionBar"
        tools:ignore="GoogleAppIndexingWarning">
        <activity
            android:name=".SetAsmtAlertActivity"
            android:label="@string/title_activity_set_asmt_alert"
            android:theme="@style/NoActionBar"/>
        <activity
            android:name=".DialogCoursealertActivity"
            android:label="Set a reminder" />
        <activity
            android:name=".SetCourseAlertActivity"
            android:label="Set a Course Alert"
            android:theme="@style/NoActionBar" />
        <activity
            android:name=".LayoutCourseitemActivity"
            android:label="Detailed Course View"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".AddcourseActivity"
            android:label="Add or Edit a Course"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".CoursesActivity"
            android:label="List of All Courses"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".AddAsmtActivity"
            android:label="Add an Assessment"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".AddtermActivity"
            android:label="Add a Term"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".MainActivity"
            android:label="Curriculum Tracker"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".TermsActivity"
            android:label="Academic Terms List"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action." />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".AssessmentsActivity"
            android:label="Assessments List"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action." />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".LayoutTermItemActivity"
            android:label="Detailed Term View"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".LayoutAsmtItemActivity"
            android:label="Detailed Assessment View"
            android:theme="@style/AppTheme.NoActionBar" />

        <provider
            android:name=".AppProvider"
            android:authorities="com.example.curriculumtracker.provider"
            android:exported="false" />
        <service android:name=".MyNewIntentService"
            android:permission="android.permission.BIND_JOB_SERVICE"/>

        <receiver android:name=".MyReceiver"
            android:exported="true">
        <intent-filter>
            <action android:name="com.example.curriculumtracker.START_ALARM" >
            </action>
        </intent-filter>
        </receiver>
    </application>

</manifest>