<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.curriculumtracker">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:ignore="GoogleAppIndexingWarning">
        <activity
            android:name=".LayoutCourseitemActivity"
            android:label="@string/title_activity_layout_courseitem"
            android:theme="@style/AppTheme.NoActionBar"></activity>
        <activity
            android:name=".AddcourseActivity"
            android:label="@string/title_activity_addcourse"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".CoursesActivity"
            android:label="All Courses"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".AddAsmtActivity"
            android:label="Add an Assessment"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".AddtermActivity"
            android:label="Add a Term"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".TermsActivity"
            android:label="Terms List">
            <intent-filter>
                <action android:name="android.intent.action." />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".AssessmentsActivity"
            android:label="Assessments List">
            <intent-filter>
                <action android:name="android.intent.action." />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".LayoutTermItemActivity" />
        <activity android:name=".LayoutAsmtItemActivity" />

        <provider
            android:name=".AppProvider"
            android:authorities="com.example.curriculumtracker.provider"
            android:exported="false" />
    </application>

</manifest>